* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
:root {
  --primary-color: #eea9c498;
}
body {
  padding: 8px 26px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  height: 30px;
}

.logo {
  font-size: 26px;
  transform: translateX(-2px);
  color: var(--primary-color);
}

.search {
  height: 30px;
  width: 45%;
}

.search > input {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
}

.search > input:focus {
  outline: none !important;
}

.button {
  height: 30px;
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.best_seller-button {
  border: 1px solid var(--primary-color);
  padding: 8px;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  text-align: center;
}

.cart-button {
  color: var(--primary-color);
  font-size: 30px;
}

.container {
  width: 100%;
  background-color: #f79ec037;
  display: flex;
  padding: 26px 0;
  flex-direction: column;
  align-items: center;
}

.caurosel {
  margin-top: 26px;
  width: 75%;
  height: 200px;
  background-color: rgb(215, 248, 237);
  border-radius: 12px;
}

.container_title {
  color: white;
  font-size: 34px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 22px;
}

.products_title {
}

.row {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 22px 0;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
}

.item {
  width: 240px;
  height: 300px;
  background-color: antiquewhite;
  border-radius: 12px;
}

.item_img {
}

.item_img > img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 6px;
}

.item_content {
  padding: 0 10px;
}

.item_content > h3 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(241, 215, 160);
}

.item_content > p {
  font-size: 14px;
  font-weight: bold;
  color: blueviolet;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: rgb(238, 236, 236);
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  box-sizing: border-box;
}

.about {
  display: flex;
  flex-direction: column;
}

.custumer {
  display: flex;
  flex-direction: column;
}

.connect {
}

.payment {
}

.social {
  display: flex;
  justify-content: space-around;
}

.fa-brands {
  font-size: 36px;
}

.fa-twitter {
  color: rgba(161, 161, 243, 0.963);
}

.fa-facebook {
  color: blue;
}

.fa-tiktok {
  color: black;
}

.fa-youtube {
  color: red;
}

.payment {
}

.option {
  display: flex;
  justify-content: space-around;
}

.fa-cc-visa {
  color: blue;
}

.fa-stripe {
  color: rebeccapurple;
}

/* DETAIL PAGE */
.main {
  background-color: gainsboro;
  width: 100%;
  padding: 18px 64px;
  box-sizing: border-box;
  height: 83vh;
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.detail_container {
  background-color: white;
  padding: 20px;
  border-radius: 12px;

  display: flex;
  align-items: center;
}

.detail_left {
  width: 40%;
}

.detail_left > img {
  width: 100%;
}

.detail_left h1 {
  color: red;
}

.detail_right {
  width: 60%;
  margin: 0 26px;
  padding: 8px 26px;
}

.detail_row .fa-star {
  color: var(--primary-color);
}

.detail_row {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
}

.detail_row p {
  color: gray;
  font-size: 14px;
  font-weight: bold;
}

.detail_row span {
  font-size: 18px;
  color: black;
  text-decoration: underline;
}

.detail_coupon {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.coupon_group {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.coupon {
  color: var(--primary-color);
  background-color: #eea9c329;
  font-weight: bold;
  padding: 4px 6px;
}

.detail_shipment {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.detail_shipment span {
  font-weight: bold;
}

.detail_color {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.color_group {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.color {
  border: 1px solid rgba(128, 128, 128, 0.215);
  padding: 4px 8px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
}

.detail_quantity {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.quantity_input {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.detail_button {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.btn_right {
  width: 300px;
  display: flex;
  justify-content: flex-start;
}

.add_cart {
  border: 1px solid var(--primary-color);
  background-color: #eea9c329;
  padding: 8px 12px;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

.purchase {
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
}

/* SLIDER */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

/* body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  } */

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding: 0;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  width: 60%;
  height: 400px;

}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 400px;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
  top: -8rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
  top: -8rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel__snapper img{
    object-fit: cover;
    width: 100%;
}

/* LOADING */
.loading{
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  background-color: none;
  border-top: 4px solid transparent;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
